.sign-in{
    
    width: 38vw;
    padding: 25px 60px;
    display:flex;
    flex-direction:column;
    

    .title{
        margin:20px 0;
    }

    .buttons
    {
     display:flex;
    justify-content: space-between;
    width:370px
   
    }
}